.chat-box {
  width: 50vw;
  height: 75vh;
  background-color: white;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  overflow-y: auto;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.wrapper {
  width: 50vw;
  height: 75vh;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}

.pinned {
  position: absolute;
  bottom: -37px;
  width: 100%;
  border-radius: 0px;
}

.chat {
  border: 1px solid black;
  padding: 8px;
  margin: 8px;
}

.avatar {
  width: 50px;
}

.thick {
  font-weight: bold;
}
