@font-face {
  font-family: 'Animal-Crossing-Wild-World-Regular';
  src: url('./fonts/Animal-Crossing-Wild-World-Regular.ttf.woff') format('woff'),
    url('./fonts/Animal-Crossing-Wild-World-Regular.ttf.svg#Animal-Crossing-Wild-World-Regular')
      format('svg'),
    url('./fonts/Animal-Crossing-Wild-World-Regular.ttf.eot'),
    url('./fonts/Animal-Crossing-Wild-World-Regular.ttf.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Animal-Crossing-Wild-World-Regular';
}

body {
  font-family: 'Animal-Crossing-Wild-World-Regular';
}
